.bookingFormWrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.subtitle {
    color: var(--header-bg-color);
    font-size: 1.2em;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: -10px;
}