.imgWrap {
    position: relative;
    min-width: 100%;
    padding-top: 64%;
    overflow: hidden;
}

.imageHor,
.imageVert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageHor {
    width: 100%;
}

.imageVert {
    height: 100%;
}

.buttonSize {
    font-size: 1.2em;
}