.header {
    background-color: var(--header-bg-color);
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 50px;
    align-items: center;
    gap: 40px;
    padding: 10px 30px 10px 15px;
}
