.button {
    padding: 5px 14px 7px;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    min-width: 100px;
    color: var(--base-bg-color);
    border: 1px solid var(--base-bg-color);
    transition: all 0.15s ease;
}


.blue {
    background-color: var(--base-blue-color);
}
.blue:hover {
    color: var(--base-blue-color);
    border: 1px solid var(--base-blue-color);
    background-color: var(--base-bg-color);
}

.green {
    background-color: var(--green-color);
}
.green:hover {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    background-color: var(--base-bg-color);
}

.orange {
    background-color: var(--orange-color);
}
.orange:hover {
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    background-color: var(--base-bg-color);
}

.grey {
    background-color: var(--semi-grey-color);
}
.grey:hover {
    color: var(--semi-grey-color);
    border: 1px solid var(--semi-grey-color);
    background-color: var(--base-bg-color);
}

.sand {
    background-color: var(--sand-color);
}
.sand:hover {
    color: var(--sand-color);
    border: 1px solid var(--sand-color);
    background-color: var(--base-bg-color);
}

.blue:active,
.green:active,
.orange:active,
.grey:active,
.sand:active {
    background-color: var(--ex-light-grey-color);
}

.btnDisabled {
    color: var(--semi-beige-color);
    border: 1px solid var(--semi-beige-color);
    background-color: var(--base-bg-color);
    cursor: default;
}

.btnDisabled:hover {
    color: var(--semi-beige-color);
    border: 1px solid var(--semi-beige-color);
    background-color: var(--base-bg-color);
}

.topBtn {
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 18px;
    color: var(--ex-light-beige-color);
    background-color: #00000055;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.125);
}
