.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 500;
}

.item a {
    display: block;
    color: var(--menu-item-color);
    padding: 7px 0;
    position: relative;
}

.item a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--menu-item-color);
    width: 0;
    height: 2px;
    transition: all .2s ease;
}

.item a:hover:after {
    width: 100%;
    left: 0;
}

.item a.active {
    color: var(--menu-item-active-color);
    cursor: default;
}

.item a.active:after {
    background-color: transparent;
}
