.roomContentWrap {
    display: flex;
    align-items: flex-start;
    gap: 4%;
}

.imageHor,
.imageVert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageHor {
    width: 100%;
}

.imageVert {
    height: 100%;
}

.roomDescription {
    width: 36%;
    padding-top: 5px;
    position: relative;
}

.roomHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.2em;
    gap: 1em;
    color: var(--brown-grey-color);
    padding: 0 .4em 1em;
}

.price {
    white-space: nowrap;
}

.briefDescriptionList {
    line-height: 1.2rem;
    list-style: none;
}

.amenitiesTitle {
    margin: 1.5em 0 .5em 1em;
    font-weight: 600;
}

.amenitiesList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: .9rem;
    column-gap: 1em;
    row-gap: .15em;
}

.amenitiesList li:before {
    content: '';
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #62a38d;
}

.imgWrap {
    position: relative;
    min-width: 100%;
    padding-top: 64%;
    overflow: hidden;
}

.buttonsWrap {
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
    justify-content: flex-end;
    gap: 30px;
}

.buttonSize {
    font-size: 1.1rem;
}
