.setBookingWrap {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.detailsWrap p {
    margin-bottom: 10px;
}

.title {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--base-blue-color);
    margin-bottom: 15px;
}

.errorMessage {
    font-size: 1rem;
    margin: 10px 0 30px;
}
