.datesWrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.subtitle {
    color: var(--base-blue-color);
    font-size: 1.15rem;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: -10px;
}

.totalNights {
    font-size: 1rem;
    margin: 0 30px;
}