.choiceWrap {
    position: relative;
}

.choiceInitial,
.choiceDate {
    min-width: 150px;
    padding: 8px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--base-blue-color);
    background-color: white;
    text-align: center;
    user-select: none;
    position: relative;
}

.choiceDate {
    font-weight: 600;
}

.calendarWindow {
    position: absolute;
    left: 0;
    top: 35px;
    width: 480px;
    padding: 20px;
    overflow: hidden;
    border: var(--light-beige-border);
    border-radius: 5px;
    background-color: var(--base-bg-color);
    z-index: 1;
}

.topArrow {
    position: absolute;
    top: 0;
    left: 50px;
    box-sizing: content-box;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: var(--base-blue-color);
}

.leftArrow,
.rightArrow {
    position: absolute;
    font-weight: 600;
    font-size: 1.1rem;
    top: 12px;
    color: var(--semi-grey-color);
    cursor: pointer;
    transform: scaleX(1.7);
    user-select: none;
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 10px;
}

.leftArrow:hover,
.rightArrow:hover {
    color: var(--base-color);
}

.calendarWrap {
    display: flex;
    gap: 20px;
    transition: all 0.4s ease;
    background-color: white;
}

.monthWrap {
}

.monthName {
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
    user-select: none;
}

.daysGrid {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.dayNameCell,
.normalDayCell,
.passiveDayCell,
.staticDayCell {
    user-select: none;
    padding: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.passiveDayCell {
    color: var(--light-grey-color);
}

.dayNameCell {
    color: var(--semi-grey-color);
}

.normalDayCell {
    border-radius: 3px;
    transition: all 0.1s ease;
}

.normalDayCell:hover {
    background-color: var(--base-blue-color);
    color: var(--base-bg-color);
}
