.darkWindow {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111ee;
    z-index: 1;
    transition: all 0.3s ease;
}

.windowHidden {
    opacity: 0;
}

.messageWindow {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 35%;
    padding: 20px;
    background-color: var(--ex-light-beige-color);
}

.message {
    font-size: 1rem;
    text-align: center;
}

.buttonsWrap {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}