.bookingWrap {
    margin-bottom: 20px;
    padding: 30px 20px 15px;
    background-color: var(--ex-light-beige-color);
    width: 520px;
    border: var(--semi-light-beige-border);
    border-left: 7px solid var(--light-beige-color);
    position: relative;
}

.status {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 0 6px 2px;
    font-size: 0.8rem;
}

.upcoming {
    background-color: var(--upcoming);
}

.now {
    background-color: var(--now);
}

.completed {
    background-color: var(--completed);
}

.userCancelled {
    background-color: var(--user-cacelled);
}

.adminCancelled {
    background-color: var(--admin-cancelled);
}

.datesAndPersonsWrap {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    font-weight: 300;
}

.dates,
.persons,
.price {
    font-weight: 500;
}

.imgAndDecrWrap {
    display: flex;
    gap: 20px;
}

.imgWrap {
    position: relative;
    height: 80px;
    padding-left: 27%;
    border: 1px solid var(--light-semi-grey-color);
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: flex-start;
}

.roomTitle {
    color: var(--base-blue-color);
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.userTitle {
    font-size: 0.95rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;
}

.userItem {
    font-size: 0.95rem;
    margin-bottom: 2px;
}
.editWrap {
    margin-top: 10px;
}
.edit {
    font-size: .95rem;
    cursor: pointer;
    padding: 3px 8px 5px;
    transition: all ease 0.15s;
    background-color: transparent;
    border: 1px solid transparent;
    width: fit-content;
}
.edit:hover {
    background-color: var(--base-bg-color);
    border-color: var(--light-beige-color);
}

.cancelBooking {
    color: var(--orange-color);
}

.editBooking {
    color: var(--semi-orange-color);
}
