.formContainer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.2em;
}

.title {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: 300;
}

.input {
    width: 250px;
    padding: 10px;
    border: var(--light-beige-border);
    border-radius: 5px;
    margin-bottom: 15px;
}

.inputLast {
    margin-bottom: 30px;
}

.input::placeholder {
    color: var(--light-grey-color);
    font-weight: 300;
}
