.mainContainer {
    width: 100%;
    position: relative;
    border: var(--light-beige-border);
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.allPhotos {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.hidden {
    opacity: 0;
    transition: none;
}

.control {
    position: absolute;
    width: 40px;
    padding: 5px 0 8px;
    font-size: 17px;
    text-align: center;
    background-color: var(--slider-button-bg);
    color: var(--slider-button-text);
    border: var(--slider-button-border);
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s;
    top: calc(50% - 20px);
    transform: scaleY(1.5);
    user-select: none;
}

.control:hover {
    background-color: var(--slider-button-bg-hover);
}

.previous {
    left: 20px;
}

.next {
    right: 20px;
}

.indicators {
    position: absolute;
    bottom: -20px;
    display: flex;
    gap: 6px;
    z-index: 2;
}

.indicatorWrap {
    display: flex;
    align-items: center;
    width: 26px;
    height: 12px;
    cursor: pointer;
    opacity: 0.3;
}

.indicatorWrapActive {
    cursor: default;
    opacity: 0.8;
}

.indicator {
    height: 4px;
    width: 100%;
    background-color: var(--slider-indicators-color);
}

