.loader {
    padding-top: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.buttonBlue {
    display: block;
    padding: 7px 14px;
    border-radius: 30px;
    background-color: var(--header-bg-color);
    color: var(--base-bg-color);
    border: 1px solid var(--base-bg-color);
    cursor: pointer;
    width: fit-content;
    transition: all .2s ease;
}

.buttonBlue:hover {
    background-color: var(--base-bg-color);
    color: var(--header-bg-color);
    border: 1px solid var(--header-bg-color);
}
