.roomWrap {
    display: flex;
    flex-direction: column;
    width: 23.5%;
    border: var(--light-beige-border);
    border-radius: 5px;
    padding: 12px 12px 50px 12px;
    position: relative;
    opacity: 0.9;
    transition: all ease 0.2s;
}

.roomWrap:hover {
    opacity: 1;
    background-color: var(--ex-light-beige-color);
    border: 1px solid var(--semi-orange-color);
}

.title {
    font-size: .95rem;
    font-weight: 600;
    padding: 0.7em 0;
}

.imgWrap {
    position: relative;
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.briefDescriptionList {
    list-style: none;
}

.briefDescriptionList li::before {
    content: "";
}

.price {
    position: absolute;
    left: 15px;
    bottom: 18px;
    font-size: 1.1rem;
    padding-top: 12px;
    font-weight: 500;
    text-align: right;
    color: var(--brown-grey-color);
}

.goToRoomBtn {
    position: absolute;
    right: 12px;
    bottom: 8px;
}