.menu {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    gap: 20px;
}

.item a {
    display: block;
    color: var(--menu-item-color);
    text-decoration: none;
    transition: color .15s ease;
    padding: 7px 0;
    border-bottom: 3px solid transparent;
}

.item a:hover {
    border-bottom: 3px solid var(--menu-item-color);
}

.item a.active {
    color: var(--menu-item-active-color);
}